PM_client/Connected Services/MedicineServiceRef/PM_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PM_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PM_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Medicine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MedicineDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicineId" type="xs:int" />
      <xs:element minOccurs="0" name="MedicineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicine" nillable="true" type="tns:Medicine" />
</xs:schema>