PM_client/Connected Services/MedicinePurchaseServiceRef/PM_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PM_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PM_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MedicinePurchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="MedicineId" type="xs:int" />
      <xs:element minOccurs="0" name="MedicinePurchaseId" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaseId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicinePurchase" nillable="true" type="tns:MedicinePurchase" />
</xs:schema>