PM_client/Connected Services/MedicinePurchaseServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MedicinePurchaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMedicinePurchase_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PM_service" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedicinePurchase_AddMedicinePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMedicinePurchase" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_AddMedicinePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMedicinePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_RemoveMedicinePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMedicinePurchase" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_RemoveMedicinePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMedicinePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_UpdateMedicinePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMedicinePurchase" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_UpdateMedicinePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMedicinePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_GetMedicinePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicinePurchase" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_GetMedicinePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicinePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_GetAllMedicinePurchases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicinePurchases" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_GetAllMedicinePurchases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicinePurchasesResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_GetMedicinePurchasesByPurchaseId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicinePurchasesByPurchaseId" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_GetMedicinePurchasesByPurchaseId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicinePurchasesByPurchaseIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_RemoveMedicinePurchasesByPurchaseId_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMedicinePurchasesByPurchaseId" />
  </wsdl:message>
  <wsdl:message name="IMedicinePurchase_RemoveMedicinePurchasesByPurchaseId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMedicinePurchasesByPurchaseIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedicinePurchase">
    <wsdl:operation name="AddMedicinePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicinePurchase/AddMedicinePurchase" message="tns:IMedicinePurchase_AddMedicinePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicinePurchase/AddMedicinePurchaseResponse" message="tns:IMedicinePurchase_AddMedicinePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMedicinePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicinePurchase/RemoveMedicinePurchase" message="tns:IMedicinePurchase_RemoveMedicinePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicinePurchase/RemoveMedicinePurchaseResponse" message="tns:IMedicinePurchase_RemoveMedicinePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicinePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicinePurchase/UpdateMedicinePurchase" message="tns:IMedicinePurchase_UpdateMedicinePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicinePurchase/UpdateMedicinePurchaseResponse" message="tns:IMedicinePurchase_UpdateMedicinePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicinePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicinePurchase/GetMedicinePurchase" message="tns:IMedicinePurchase_GetMedicinePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicinePurchase/GetMedicinePurchaseResponse" message="tns:IMedicinePurchase_GetMedicinePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicinePurchases">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicinePurchase/GetAllMedicinePurchases" message="tns:IMedicinePurchase_GetAllMedicinePurchases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicinePurchase/GetAllMedicinePurchasesResponse" message="tns:IMedicinePurchase_GetAllMedicinePurchases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicinePurchasesByPurchaseId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicinePurchase/GetMedicinePurchasesByPurchaseId" message="tns:IMedicinePurchase_GetMedicinePurchasesByPurchaseId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicinePurchase/GetMedicinePurchasesByPurchaseIdResponse" message="tns:IMedicinePurchase_GetMedicinePurchasesByPurchaseId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMedicinePurchasesByPurchaseId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicinePurchase/RemoveMedicinePurchasesByPurchaseId" message="tns:IMedicinePurchase_RemoveMedicinePurchasesByPurchaseId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicinePurchase/RemoveMedicinePurchasesByPurchaseIdResponse" message="tns:IMedicinePurchase_RemoveMedicinePurchasesByPurchaseId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMedicinePurchase" type="tns:IMedicinePurchase">
    <wsp:PolicyReference URI="#NetTcpBinding_IMedicinePurchase_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddMedicinePurchase">
      <soap12:operation soapAction="http://tempuri.org/IMedicinePurchase/AddMedicinePurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMedicinePurchase">
      <soap12:operation soapAction="http://tempuri.org/IMedicinePurchase/RemoveMedicinePurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicinePurchase">
      <soap12:operation soapAction="http://tempuri.org/IMedicinePurchase/UpdateMedicinePurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicinePurchase">
      <soap12:operation soapAction="http://tempuri.org/IMedicinePurchase/GetMedicinePurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicinePurchases">
      <soap12:operation soapAction="http://tempuri.org/IMedicinePurchase/GetAllMedicinePurchases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicinePurchasesByPurchaseId">
      <soap12:operation soapAction="http://tempuri.org/IMedicinePurchase/GetMedicinePurchasesByPurchaseId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMedicinePurchasesByPurchaseId">
      <soap12:operation soapAction="http://tempuri.org/IMedicinePurchase/RemoveMedicinePurchasesByPurchaseId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedicinePurchaseService">
    <wsdl:port name="NetTcpBinding_IMedicinePurchase" binding="tns:NetTcpBinding_IMedicinePurchase">
      <soap12:address location="net.tcp://localhost:8734/MedicinePurchaseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/MedicinePurchaseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-QUCH73Q\HP</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>