PM_client/Connected Services/PurchaseServiceRef/PM_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PM_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PM_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Purchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PurchaseId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purchase" nillable="true" type="tns:Purchase" />
</xs:schema>